In [ ]:
# Importing required Packages
import pandas as pd
import numpy as np
from scipy import stats


import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Load Data

In [78]:
house_data = pd.read_csv('https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/house_rental_data.csv.txt', index_col='Unnamed: 0')

In [79]:
house_data

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom  Price
1    1177.698      2           7        2            2         2  62000
2    2134.800      5           7        4            2         2  78000
3    1138.560      5           7        2            2         1  58000
4    1458.780      2           7        3            2         2  45000
5     967.776     11          14        3            2         2  45000
..        ...    ...         ...      ...          ...       ...    ...
644  1359.156      7          15        3            2         2  45000
645   377.148      4          10        1            1         1  24800
646   740.064     13          14        1            1         1  45000
647  1707.840      3          14        3            2         2  65000
648  1376.946      6           7        3            2         1  36000

[645 rows x 7 columns]

## Splitting Data into feature & target columns

In [80]:
feature_data = house_data.drop(columns=['Price'])

In [81]:
feature_data.describe()

,Sqft,Floor,TotalFloor,Bedroom,Living.Room,Bathroom
count,645.000000,645.000000,645.000000,645.000000,645.000000,645.000000
mean,1527.656260,5.939535,10.855814,2.837209,1.813953,1.810853
std,767.386531,3.884721,4.996208,1.010740,0.462364,0.683574
min,359.358000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,925.080000,3.000000,7.000000,2.000000,2.000000,1.000000
50%,1423.200000,5.000000,12.000000,3.000000,2.000000,2.000000
75%,1892.856000,8.000000,14.000000,4.000000,2.000000,2.000000
max,5856.468000,22.000000,38.000000,7.000000,4.000000,5.000000

In [26]:
target_data = house_data['Price']

## Splitting data(feature & target) into train & test

In [48]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(feature_data,target_data,random_state=7)

## Model building

In [49]:
from sklearn.neighbors import KNeighborsRegressor

In [62]:
house_knr = KNeighborsRegressor(n_neighbors=3)

In [63]:
house_knr.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=3)

## Predictions

In [64]:
x_test

         Sqft  Floor  TotalFloor  Bedroom  Living.Room  Bathroom
586  1316.460      4          15        3            2         2
224  2138.358     11          14        4            2         2
337  3558.000      1           7        3            2         2
71    889.500      8          12        2            1         1
590   800.550      3           4        2            2         1
..        ...    ...         ...      ...          ...       ...
545  1102.980      2           4        2            1         2
24   1668.702      4          12        3            2         2
276   533.700      7          12        1            1         1
388  1586.868      3           7        3            2         2
648  1376.946      6           7        3            2         1

[162 rows x 6 columns]

In [65]:
pred = house_knr.predict(x_test)

In [66]:
len(pred)

162

## Accuracy

In [67]:
house_knr.score(x_test,y_test)

0.7025545623232419

# Assignment :

Take iris data and build a KNN Classification Model.

In [68]:
from sklearn.datasets import load_iris
iris = load_iris()

In [70]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [71]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [75]:
feature_data =pd.DataFrame(iris.data,columns=iris.feature_names)

In [76]:
target_data = iris.target